 /*---- Kurt's styles ---*/

.small-text {
	font-size: 75%;
}

.custom-container-center {
	text-align: center;
}

.custom-appendix-container {
    margin-top: 3em;
    margin-bottom: 2em;
	text-align: center;
}

.top-margin-2em {
	margin-top: 2em;
}

/* override the default left alignment of basic.css */
th {
 text-align: center;
}

table.table3a-style, table.general-table-style { 

  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 2.5em;
}

/*table.blue-header thead { 9/7/2011 */
table.blue-header thead th {

  background-color: #000080;
  color: white; 
}

table.bold-caption caption {

	font-weight: bold;
}

table.general-table-style, table.general-table-style td, table.general-table-style th {
	border-collapse: collapse;
    border: 2px solid #000080; /* width style color */
}

table.general-table-style th { /* add 9/4/2011 */
 background-color: white; /* This matches the Waxler petition's default */
}
/* Kurt: Today
table.table-style th {
*/
table.general-table-style th {

	border-bottom-width: 1px;

    font-size: 1.1em;
	padding: .75em .66em .22em; /* top right/left bottom */
}


table.table3a-style, table.table3a-style td, table.table3a-style th  {

	border-collapse: collapse;
}

table.table3a-style thead {

	border-top: 2px solid black;
}

table.table3a-style caption  {
 text-align: center;
 margin-bottom: 2em;
}

table.table3a-style th  {
    text-align: center;
	padding: .75em .66em .22em; /* three values: top right/left bottom */
}

table.table3a-style  th.thick-border-bot  {
	border-bottom: 2px solid black;
}

table.table3a-style td  {
	padding: .75em 5.75em  .1em .55em; /* four values: top right bottom left */
}

table.table3a-style td.right  {
	padding: .75em .45em  .1em 2.5em; /* four values: top right bottom left */
}

table.general-table-style td {

	padding: .75em .66em 0; /* top right/left bottom */
} 

table td.right {

 text-align: right;
}

table td.center {

 text-align: center;
}

table.td-text-align-center td {
	text-align: center
}


table.td-vertical-align-middle td {
    vertical-align: middle;
}

table.td-vertical-align-bottom td, table.th-vertical-align-bottom th {
    vertical-align: bottom;
}

table.table-width-60 {

 width: 60%;
}
table.table-width-75 {

 width: 75%;
}
table.table-width-85 {

 width: 75%;
}


table.table-width-95 {

  width: 95%;
}

table.table6-style td {
/* First: top  Second: right/left  Third: bottom */
	padding: .22em .66em .22em; /* top right/left bottom */
} 

table.table6-style td.no-top-border {

  border-top-style: none;
}

table.table6-style td.no-bot-border {

   border-bottom-style: none;	
}

table.table6-style td.less-bottom-padding {
  padding-bottom: .1em
}

table.table6-style td.more-padding-top {
  padding-top: .6em
}

/* end table6-style */

table.table5-style {
    font-family: "Times New Roman";
    border: 4px solid black;
    width: 55%;
    background-color: #FDE7D7;
    font-size: 125%;
    border-collapse: collapse;
    margin: auto; /* centers the table */
    margin-bottom: 2em;
    margin-top: 1em;
}

table.table5-style caption p.first-part {
  text-align: center;
  margin-bottom: 1em;
}

table.table5-style caption p.second-part {
  text-align: left;
  font-weight: bold;
  font-family: sans-serif;
}

table.table5-style td.left {
    text-align: left;
}

table.table5-style td.center {
    text-align: center;
}

table.table5-style td {
	margin: 0;
  	padding: 1px 8px; /* top/bottom left/right */
}

table.table5-style  td.heading {
	padding-top: 12px;
	padding-bottom: 12px;
}

table  tr.border-top-bot  { /* Generalized the class style for use with any td */
  border-top: 1px solid black; 
  border-bottom: 1px solid black; 
}

/* This will apply the padding to all cells in the row with the border-top-bot style */
table.table5-style  tr.border-top-bot td  {
  padding-top: 12px;
  padding-bottom: 12;
}

/* This will apply the padding to all cells in with this row style */
table.table5-style tr.more-padding-top td {
  padding-top: 12px;
}
table.table5-style tr.more-padding-bot td {
  padding-bottom: 12px;
}

table.table5-style  tr.border-bot  {
  border-bottom: 1px solid black; 
}
table.table5-style  tr.border-bot td {
  padding-bottom: 12px;
}

.custom-figure {
	margin-top: 3em;
	font-weight: bold;
}

/* These caption and legend settings only apply to our custom-figure style */

.custom-figure .caption {
 /* This will move the caption and the legend close together vertically */
 	margin-bottom: 0;
	padding-bottom: .5em;
}

.custom-figure .legend {
	font-size: 80%; /* we want the legend to have a smaller font than the caption */ 
}

/* The form below, which starts with two class names catenated like this
  .someclassname.otherclassname 
is only applied if both class styles have been selected. For example, <p class="someclassname otherclassname">
For a discussion see http://www.456bereastreet.com/archive/200510/css_21_selectors_part_2/
*/

.custom-figure.legend-justify .legend {
         text-align: justify;	
}


/* Adding to '.custom-figure' these two lines

 text-align: center
 font-weight: bold

makes the CSS below unnecessary.
 
 centers image, caption and legend 

div.figure {
	text-align:center;
}

 div.figure .caption 
div.figure p.caption {
	font-weight: bold;
}
 div.figure .caption
div.figure div.legend {

	font-weight: bold;
	font-size: 85%;
}
*/

